#overlay-message {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 999;
}
#popup-window {
	width: 300px;
	background: #000;
	margin: 50px 20px auto auto;
	z-index: 9999;
	position: absolute;
}
#popup-head {
	width: 300px;
	height: 20px;
	background: #333;
	display: inline-block;
	z-index: 9999999999;
}
#popup-head:hover {
	cursor: move;
}
#popup-close {
	z-index: 999999;
	position: relative;
	width: 15px;
	height: 15px;
	float: right; 
	color: #fff;
	cursor: pointer;
	display: inline-block;
	top: -2px;
}
#messages div.section.clearfix {
	width: 300px;
	z-index: 999;
	cursor: default;
	display: block;
}
#messages {
	width: 300px;
	height: 54px;
	margin: 0;
	padding: 0;
}
div.status {
	width: 209px;
	background-color: #000;
	border: 1px solid #fff;
	color: #fff;
	z-index: 99999;
	cursor: default;
}
